body {
  background-color: #333;
  width: 80%;
  margin: 0 auto;
}
.my_nav-flex-cont {
  background: url(../img/wtfff.png), #8b8000;
}
.user-menu-items,
.shop-link-items-cont {
  background: url(../img/wtfff.png), #665e00;
  z-index: 99999999999999;
}
#userInfo {
  margin-top: 50px;
}
.user-sessions-cont {
  color: #ccc;
  background-color: #333;
}
.copied-pop-up {
  position: absolute;
  left: 25%;
  bottom: -100%;
  z-index: -99;
  opacity: 0;
  transition: 400ms;
  transition-timing-function: ease-out;
  color: #333;
  padding: 0.2rem;
  text-align: center;
  border-radius: 20px;
  background-color: #ccc;
  font-size: 0.7rem;
}
.card-number-span {
  user-select: none;
}
@media (hover: hover) {
  .card-number-span:hover {
    opacity: 0.7;
  }
}
.focus-text {
  color: khaki;
}
.user-session-item {
  display: flex;
  flex-wrap: nowrap;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.2);
  justify-content: space-around;
  padding: 1.2rem 0;
  overflow: hidden;
}
.user-session-header {
  background: url(../img/wtfff.png);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.5),
    inset 0 1px 0 rgba(0, 0, 0, 0.2);
}
.flex-item {
  flex-basis: 18%;
  overflow-x: auto;
}
.dashboard-icon-cont {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding: 0 1.5rem;
}
.dashboard-icon-cont > i {
  color: #ccc;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 10px;
}
.dashboard-icon-cont > i:hover {
  color: #eee;
}
#seeAll {
  height: 100%;
  max-height: 0px;
  transition: max-height 1s ease;
  overflow: hidden;
}
#sellAllBtn {
  transition: 200ms;
  z-index: 1;
  color: #333;
  background-color: #ccc;
  border-radius: 2px;
  padding: 0.5rem 3rem;
  border: none;
  outline: none;
  display: block;
  margin: 20px auto 0;
}
#sellAllBtn:hover {
  background-color: #eee;
}
footer {
  background: url(../img/wtfff.png), #665e00;
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
  body {
    width: 98%;
  }
  .user-sessions-cont {
    overflow: auto;
  }
  .flex-item {
    flex-basis: 15%;
  }
  .user-session-item {
    width: 200%;
  }
}
